/* common css--------------------------------------  */

body {
    min-height: 100vh;
    height: auto;
    padding-bottom: 30px;
    clear: both;
    /* background-color: aliceblue; */
}

.titlebar {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    background-color: rgb(229, 227, 221);
}

.titlebar .title {
    flex-grow: 1;
}

.titlebar .title h4 {
    text-align: center;
}

.my_cus_btn {
    border-radius: 8.25rem !important;
}


/* end --------------------------------------------- */

.navbar {
    background-color: #fff!important;
    border-top: 1px solid #eee;
}

.mynav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mynav-link {
    color: #333
}

.mynav-link span {
    display: flex;
}


/* banner start---------------------------------------- */

.banner {
    height: 200px;
    background-color: #333;
}


/* order form start ---------- */

input,
select {
    border: none !important;
    display: flex;
    flex-wrap: wrap;
}

input {
    padding-left: 13px !important;
    height: 50px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

:-moz-placeholder {
    /* Firefox 18- */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

.cus-input-fromControl {
    display: flex;
    align-items: center;
}

.addressForm {
    display: flex;
}

.addressForm a {
    display: flex;
    align-self: center;
}

.slow-animation {
    /* animation: swal2-show 0.75s linear !important;  */
    animation: swal2-show 0.75s linear !important;
}

.slow-animation-2 {
    /* animation: swal2-show 0.75s linear !important;  */
    animation: swal2-hide 0.9s linear !important;
}

.alert-title: {
    color: #fff
}


/* user info start ------------------------------------ */

.user_info_div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.user_info_div .user_info_content {
    margin-left: 20px;
}


/* user order tab -------------------------------- */

.my-cus-tab {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: #333;
    white-space: nowrap;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent!important;
    color: #3498db;
    border-radius: 0px;
    border-bottom: 1px solid #3498db;
}


/* order list -------------- */

.Loading {
    text-align: center;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    visibility: hidden;
}

@keyframes loading {
    0% {
        color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        color: green;
        left: 200px;
        top: 0px;
    }
    50% {
        color: rgb(95, 81, 107);
        left: 200px;
        top: 200px;
    }
    70% {
        color: yellow;
        left: 200px;
        top: 200px;
    }
    100% {
        color: blue;
        left: 200px;
        top: 200px;
    }
}


/* search field  */

.search-Field {
    text-align: center;
    padding: 30px 0px;
}

.search-Field h5 {
    color: #161615;
    margin-bottom: 0px;
}

.search-Field span {
    font-size: 0.723rem;
}

.search-Field>div {
    margin-top: 20px;
    border: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.search-Field>div>input {
    height: auto;
}

.search-Field>div>button {
    background-color: rgb(187, 186, 182);
    color: #fff;
}

.search-Field>div>button:hover {
    background-color: #ffff;
    color: #333;
}


/* order list card---------- */

.my-card {
    --color: #fff;
    background-color: var(--color);
    border: 1px solid var(--color);
    border-radius: .67rem;
    margin-bottom: 8px;
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(60px, auto);
}

.my-card .status {
    color: #ff0000;
    border: 1px solid #ff0000;
    display: inline-block;
    border-radius: 40px;
    margin-top: 16px;
}


/* .order-section {
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    align-items: center;
    padding: 10px 20px;
    grid-column: 1 / 6;
    grid-row: 1;
} */


/* .packagelogo {
    grid-column: 1 / 2;
    grid-row: 1;
} */

.packagelogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.packageinfo {
    padding: 10px;
    grid-column: 1 / 1;
    grid-row: 1;
}

.packageinfo h6 {
    font-size: 1rem;
}

.packageinfo .to {
    color: #ef5499;
}

.packageinfo .address {
    font-size: 0.8725rem;
    padding: 0px 10px;
}

.my-card .options button {
    height: 100%;
    width: 100%;
    border: 0px;
    background-color: #fbaa29;
    border-radius: 0px 0px 4px 4px;
    color: #fff;
}

.my-card .options button:hover {
    cursor: pointer;
}

@media (max-width: 320px) {
    option {
        max-width: 100%;
        overflow: hidden!important;
        word-wrap: normal !important;
        white-space: normal;
    }
    .my-card {
        --color: #efefef57;
        background-color: var(--color);
        border: 1px solid var(--color);
        border-radius: .67rem;
        margin-bottom: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(60px, auto);
    }
    /* .order-section {
    display: flex;
    flex-direction: row;
    justify-content: space-arround;
    align-items: center;
    padding: 10px 20px;
    grid-column: 1 / 6;
    grid-row: 1;
} */
    .packagelogo {
        display: none;
    }
    .packagelogo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .packageinfo {
        padding: 10px 20px 0px 10px;
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .my-card .options button {
        height: 100%;
        border: 0px;
        background-color: #fbaa29;
        border-radius: 0px 0px 0px 0px;
        color: #fff;
    }
}